.plan-card {
  width: 100%;
  max-width: 650px;
  height: 200px;
  padding: 10px;
}

.plan-card-inner {
  background-color: white;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: default;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24);
}

.plan-card-inner:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.plan-card-image {
  width: 35%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-size: auto 100%;
  background-position: center;
}

.plan-card-right {
  width: 65%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.plan-concert-detail {
  height: 65%;
  width: 100%;
  border-bottom: 1px solid silver;
}

.plan-concert-detail-inner {
  padding: 15px 20px;
  text-transform: uppercase;
}

.plan-concert-detail-inner h1 {
  padding: 0;
  margin: 0;
  font-size: 1.3em;
  color: rgb(19, 19, 19);
}

.plan-concert-detail-inner h4 {
  padding: 0;
  margin: 3px 0 0 0;
  font-size: 0.9em;
  font-weight: 600;
  color: rgb(19, 19, 19);
}

.plan-concert-detail-inner p {
  padding: 0;
  margin: 3px 0 0 0;
  font-size: 0.8em;
  font-weight: 700em;
  color: rgb(48, 48, 48);
}

.plan-detail {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 35%;
  width: 100%;
}

.plan-detail-left {
  height: 100%;
  width: 30%;
  border-right: 1px solid silver;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.plan-detail-center {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
.plan-detail-right {
  height: 100%;
  width: 41%;
}

.plan-detail-start h1 {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 0.7em;
  color: rgb(59, 59, 59);
}

.plan-detail-start p {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  font-size: 1.1em;
  color: rgb(10, 153, 224);
}

.plan-detail-activity {
  padding: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.plan-detail-activity-left {
  padding: 5px;
  width: 70%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.plan-detail-activity-left p {
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  color: rgb(59, 59, 59);
}

.plan-detail-activity-right {
  padding: 5px;
  width: 30%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.plan-detail-activity-right p {
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  color: rgb(10, 153, 224);
}

@media only screen and (max-width: 750px) {
  .plan-concert-detail-inner h1 {
    margin: 0;
    font-size: 80%;
  }

  .plan-concert-detail-inner h4 {
    margin: 5px 0 0 0;
    font-size: 70%;
  }

  .plan-concert-detail-inner p {
    margin: 4px 0 0 0;
    font-size: 65%;
  }

  .plan-detail-activity-left p {
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 40%;
    color: rgb(59, 59, 59);
  }

  .plan-detail-activity-right p {
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 40%;
    color: rgb(10, 153, 224);
  }

  .plan-detail-center {
    display: none;
  }

  .plan-detail-left {
    width: 50%;
  }

  .plan-detail-right {
    width: 50%;
  }

  .view-plan-button {
    font-size: 0.8em;
  }

  .view-plan-button button {
    padding: 10px 2px;
  }
}
