.plan-view-panel {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  padding: 25px;
  margin: auto;
}

.plan-view-panel-inner {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: white;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  cursor: default;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.view-panel-left {
  width: 40%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-size: auto 100%;
  background-position: center;
}

.view-panel-right {
  width: 60%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.panel-right-top {
  width: 100%;
  height: 65%;
  border-bottom: 1px solid silver;
  text-transform: uppercase;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.right-top-left {
  padding: 15px;
  width: 60%;
  height: 100%;
  border-right: 1px solid silver;
}

.right-top-right {
  padding: 15px;
  width: 40%;
  height: 100%;
}

.panel-right-top h1 {
  padding: 0;
  margin: 0;
  font-size: 1.3em;
  color: rgb(19, 19, 19);
}

.panel-right-top h4 {
  padding: 0;
  margin: 3px 0 0 0;
  font-size: 0.9em;
  font-weight: 600;
  color: rgb(19, 19, 19);
}

.panel-right-top p {
  padding: 0;
  margin: 3px 0 0 0;
  font-size: 0.8em;
  font-weight: 700em;
  color: rgb(48, 48, 48);
}

.panel-right-bottom {
  width: 100%;
  height: 35%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.right-bottom-left {
  width: 60%;
  height: 100%;
  border-right: 1px solid silver;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.right-bottom-left-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-bottom-left-header h1 {
  height: 30%;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  color: rgb(36, 36, 36);
}

.right-bottom-left ul {
  width: 100%;
  padding: 5px 10px;
  height: 70%;
  margin: 0;
  font-size: 0.9em;
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: normal;
}

.right-bottom-left li {
  padding: 2px 0;
  margin: 0;
  text-align: center;
}

.right-bottom-right {
  width: 40%;
  height: 100%;
}
