header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: rgb(19, 19, 19);
  border-bottom: solid 1px rgb(232, 232, 233);
  z-index: 9000;
}

header h1 {
  margin-left: 50px;
  cursor: pointer;
}

header nav {
  margin-right: 50px;
}

header ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}

header li {
  box-sizing: content-box;
  position: relative;
  display: inline-block;
  list-style: none;
  margin: 0 10px;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.4s;
}

header li:hover {
  color: rgb(10, 153, 224);
}

header li.navActive,
header li.navActive:hover {
  border-bottom: 2px solid rgb(10, 153, 224);
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 699px) {
  nav,
  nav li,
  nav ul,
  nav i,
  nav button {
    display: none !important;
  }
}

@media only screen and (min-width: 700px) {
  button.hamburger {
    display: none;
  }

  .hamburger-menu {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  header h1 {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 400px) {
  header h1 {
    margin-left: 20px;

  }
}