.plan-button {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}

.start-plan-button button {
  box-sizing: border-box;
  background-color: rgb(10, 153, 224);
  border: none;
  color: white;
  padding: 20px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  /* margin: 5px auto; */
  cursor: pointer;
  transition: all 0.4s;
  border-bottom-right-radius: 10px;
  outline: none;
  font-weight: 700;
  width: 100%;
  height: 100%;
}

.start-plan-button button:hover {
  font-size: 1.4em;
}
