.plan-button {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}

.plan-button button {
  box-sizing: border-box;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  cursor: pointer;
}

.start-plan-button button {
  background-color: rgba(10, 153, 224, 0.644);
  padding: 20px 5px;
  width: 100%;
  height: 100%;
  align-self: flex-end;
  transition: all 0.4s;
  border-bottom-right-radius: 10px;
  outline: none;
  font-weight: 700;
}

.start-plan-button button:hover {
  font-size: 1.4em;
}

.inactive-plan-button button {
  font-size: 0.65em;
  cursor: not-allowed;
  color: black;
  background-color: rgb(231, 231, 231);
  transition: none;
}

.inactive-plan-button button:hover {
  font-size: 0.65em;
}

.login-button {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 30px auto 0;
}

.login-button button {
  box-sizing: border-box;
  background-color: rgb(10, 153, 224);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  padding: 10px 40px;
  width: 100%;
  outline: none;
}

.view-plan-button button {
  background-color: rgb(10, 153, 224);
  padding: 20px 5px;
  width: 100%;
  height: 100%;
  align-self: flex-end;
  transition: all 0.4s;
  border-bottom-right-radius: 10px;
  outline: none;
  font-weight: 700;
}

.view-plan-button button:hover {
  font-size: 1.4em;
}
